<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Other Pages', 'Forum Layout']" icon="picture-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <table class="table table-striped table-forum">
          <thead>
          <tr>
            <th colspan="2"><a [routerLink]="['../general-view']"> Projects </a> &gt; Business Requirement Docs</th>
            <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Topics</th>
            <th class="text-center hidden-xs hidden-sm" style="width: 100px;">Posts</th>
            <th class="hidden-xs hidden-sm" style="width: 200px;">Last Post</th>
          </tr>
          </thead>
          <tbody>
          <!-- TR -->
          <tr class="warning">
            <td class="text-center" style="width: 40px;"><i class="glyphicon glyphicon-pushpin fa-2x text-danger"></i></td>
            <td>
              <h4><a [routerLink]="['../post-view']">
                Welcome message
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr class="warning">
            <td class="text-center" style="width: 40px;"><i class="glyphicon glyphicon-pushpin fa-2x text-danger"></i></td>
            <td>
              <h4><a [routerLink]="['../post-view']">
                Latest Updates
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr>
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                Nam quam nunc blandit vel
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr>
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                Maecenas nec odio et ante tincidun
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr>
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                Donec sodales sagittis magna
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr>
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                Sed consequat, leo eget bibendum sodales
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr>
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                Consectetuer adipiscing elit
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr class="locked">
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                This is a locked topic!
              </a>
                <small><a [routerLink]="['/profile']">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          <!-- TR -->
          <tr class="closed">
            <td colspan="2">
              <h4><a [routerLink]="['../post-view']">
                This is a closed topic!
              </a>
                <small><a href="">John Doe</a> on <em>January 1, 2014</em></small>
              </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">431</a>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <a href="">1342</a>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
          </tbody>
        </table>
        <div class="text-center">
          <ul class="pagination pagination-sm">
            <li class="disabled"><a href="">Prev</a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">...</a></li>
            <li><a href="">99</a></li>
            <li><a href="">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
