<sa-widget [editbutton]="false" color="blueDark">
	<header>
		<span class="widget-icon"> <i class="fa fa-table"></i> </span>
		<h2>Datatables Rest Demo</h2>
	</header>
	<div>
		<div class="widget-body no-padding">

			<sa-datatable [options]="options" tableClass="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th [style.width]="'8%'" data-hide="mobile-p">User ID</th>
						<th [style.width]="'8%'" data-hide="mobile-p">Post ID</th>
						<th>Title</th>
						<th data-class="expand">Body</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th>User ID</th>
						<th>Post ID</th>
						<th>Title</th>
						<th>Body</th>
					</tr>
				</tfoot>
			</sa-datatable>

		</div>
	</div>
</sa-widget>