<div class="table-wrap custom-scroll sa-outlook-content ">
  <table id="inbox-table" class="table table-striped table-hover" >
    <tbody>
    <tr id="msg1" [class.unread]="!message.read" *ngFor="let message of messages">
      <td class="inbox-table-icon">
        <div class="checkbox">
          <label>
            <input type="checkbox" [(ngModel)]="message.selected" class="checkbox style-2">
            <span></span> </label>
        </div>
      </td>
      <td class="inbox-data-from hidden-xs hidden-sm"
          [routerLink]="['../details/'+message._id]"
          >
        <div>
          {{message.contact.name}}
        </div>
      </td>
      <td class="inbox-data-message"
          [routerLink]="['../details/'+message._id]"
      >
        <div>
          <span><message-labels [message]="message"></message-labels> {{message.subject}}</span>
          {{message.getBodyTeaser()}}
        </div>
      </td>
      <td class="inbox-data-attachment hidden-xs"
          [routerLink]="['../details/'+message._id]"
      >
        <div>
          <a *ngIf="message.hasAttachments()" [tooltip]="message.fullAttachmentsTooltip()" placement="left" class="txt-color-darken"><i
            class="fa fa-paperclip fa-lg"></i></a>
        </div>
      </td>
      <td class="inbox-data-date hidden-xs">
        <div>{{message.date | moment : 'HH:MM a'}}
        </div>
      </td>
    </tr>

    </tbody>
  </table>

</div>
